.section-about:nth-child(1),
.section-about:nth-child(3),
.section-about:nth-child(4){
    height: 100vh;
}

.about-details .box{
    max-width: 600px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.section-about:nth-child(2){
    width: 100%;
    height: 450px;
}

.intro-about{
    width: 100%;
    height: 100%;
    background: url(/asset/aboutusoffice.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    position: absolute;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    min-width: 400px;
    width: 60%;
    box-sizing: border-box;
    height: 600px;
    bottom: -380px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.about-container .box{
    width: 50%;
    height: 100%;
}

.about-container .box:nth-child(1){
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
}

.about-container .box:nth-child(2){
    background: url(/asset/brainxbulb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-about:nth-child(3) > div{
    width: 100%;
    height: 50%;
}

.solution{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.solution .box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.solution .box .card{
    width: 25%;
    height: 200px;
    display: flex;
}

.solution .box .card .box:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 50px 0;
}

.solution .box .card .box:nth-child(1) i{
    font-size: 60px;
}
.solution .box .card .box:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

@media only screen and (max-width: 800px) {
    .about-container{
        flex-direction: column;
    }

    .about-container .box{
        width: 100%;
    }
  }

  @media (max-width: 768px) {
    .solution{
        margin-top: 180px;
    }
    .solution .box .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .solution{
        box-sizing: border-box;
        padding: 30px;
        margin-top: 650px;
    }
    .solution .box .card {
        width: 100%;
    }
}