#home-banner{
    display: grid;
    grid-template-rows: 500px 1fr;
    flex-direction: column;
    align-content:space-between ;
}

#home-banner .home-content{
    position: relative;
}

#home-banner .home-content .box{
    box-sizing: border-box;
    position: absolute;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.327);
    border-radius: 8px;
    z-index: 1;
    bottom: 0;
    left: 70px;
    top: -120px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-container{
    
     .overview-section{
        width: 100%;
        height: auto;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
     }

     .card{
        width: 20%;
        height: 200px;
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.471);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        box-sizing: border-box;

        h3{
            padding: 20px;
        }

        span{
            font-size: 48px;font-weight: bold;

        }
     }

     #collection{
        margin-top: 100px;
     }

     .collection{
        margin-top: 30px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;

        .box{
            flex-grow: 1;
            flex-basis: 200;
            opacity: 50%;
            transition: all 0.3s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .more-details{
                width: 100%;
                height: 120px;
                background: rgba(128, 128, 128, 0.599);
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a{
                    text-decoration: none;
                    color: blue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px   ;
                }
            }
        }
        .box:nth-child(1){
            background: url(/asset/emty_office.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box:nth-child(2){
            background: url(/asset/emty_office2.jfif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box:nth-child(3){
            background: url(/asset/galary_office.jfif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box:nth-child(4){
            background: url(/asset/moder_business_office.jfif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box:nth-child(5){
            background: url(/asset/U_office.jfif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .box:hover{
            opacity: 1;
        }
     }

     .why-choose-us{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        div{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px;
                box-sizing: border-box;
                overflow: hidden;
                border: none;
                width: 300px;
                height: 300px;
                box-shadow: none;
            }

            .card h1{
                color: rgba(0, 0, 0, 0.61);
            }
    
            .card i{
                font-size: 35px
            }

            .card p{
                color: grey;
            }
        }
     }
}